.site_header {
    padding: 20px;
    overflow: hidden;
    text-align: center;
    background: #5465FF;
    color: white;
    font-size: 30px;
}

header div{
    float: left;
    display: inline;
}

.header_list {
    display: inline;
}

.header_list li {
    display: inline;
    margin: 20px;
}

.header_list a {
  text-decoration: none;
  font-size: 1.5rem;
    color: white;
}

.header_list a:hover,
.header_list a:active,
.header_list a.active {
  color: #BBCFF0;
}